# 12 MHz clock
set_io -nowarn CLK        35
set_frequency CLK 12

# RS232
#set_io -nowarn RX          6
#set_io -nowarn TX          9

# LEDs and Button
set_io -nowarn BTN_N      10
set_io -nowarn LEDR_N     11
set_io -nowarn LEDG_N     37

# RGB LED Driver
#set_io -nowarn LED_RED_N  39
#set_io -nowarn LED_GRN_N  40
#set_io -nowarn LED_BLU_N  41
#set_io -nowarn LED_RGB[0] 39
#set_io -nowarn LED_RGB[1] 40
#set_io -nowarn LED_RGB[2] 41

# SPI Flash
#set_io -nowarn FLASH_SCK  15
#set_io -nowarn FLASH_SSB  16
#set_io -nowarn FLASH_IO0  14
#set_io -nowarn FLASH_IO1  17
#set_io -nowarn FLASH_IO2  12
#set_io -nowarn FLASH_IO3  13

# PMOD 1A: Digilent button bank + DIP switch PMOD
set_io -nowarn BTN_D_UP     4
set_io -nowarn BTN_D_DOWN   2
set_io -nowarn BTN_D_LEFT  47
set_io -nowarn BTN_D_RIGHT 45
set_io -nowarn DIP_A        3
set_io -nowarn DIP_B       48
set_io -nowarn DIP_START   46
set_io -nowarn DIP_SELECT  44

# PMOD 1B: debug bus / logic-analyzer taps
set_io -nowarn DBG_PC0     43
set_io -nowarn DBG_PC1     38
set_io -nowarn DBG_PC2     34
set_io -nowarn DBG_PC3     31
set_io -nowarn DBG_MCE     42
set_io -nowarn DBG_PHASE0  36
set_io -nowarn DBG_PHASE1  32
set_io -nowarn DBG_PHASE2  28

# PMOD 2: Waveshare 2" ST7789 LCD + two spare debug GPIOs
set_io -nowarn LCD_SCK     27
set_io -nowarn LCD_MOSI    25
set_io -nowarn LCD_CS      21
set_io -nowarn LCD_DC      19
set_io -nowarn LCD_RES     26
set_io -nowarn LCD_BL      23
set_io -nowarn DEBUG_GPIO0 20
set_io -nowarn DEBUG_GPIO1 18
